// Colors
$color-default-black: #303030;
$color-default-white: #ffffff;

$color-light-1: #f8f8f8;
$color-light-2: #e8e7e7;
$color-light-3: #a2a2a2;
$color-light-4: #f0f0f0;
$color-light-5: #8F8F8F;
$color-light-6: #c9c9c9;
$color-light-7: #979797;
$color-light-8: #d3d3d3;
$color-light-9: #f5f5f5;
$color-light-10: #dddddd;
$color-light-11: #dadada;
$color-light-12: #d9d9d9;
$color-light-13: #fafafa;

$color-dark-1: #505050;
$color-dark-2: #000000;

$color-contrast-1: #e46942;
$color-contrast-2: #5b8a8f;
$color-contrast-3: #e1a661;
$color-contrast-4: #e24b33;
$color-contrast-5: #43807F;
$color-contrast-6: #f1cb7e;
$color-contrast-7: #ea8c48;
$color-contrast-8: #a7e492;

// Fonts
$fz-default: 16px;
$ff-inter: "Inter", "Arial", sans-serif;
$ff-prata: "Prata", "Arial", sans-serif;
$ff-roboto: "Roboto", "Arial", sans-serif;

// Breakpoints
$vp-768: 768px;
$vp-1300: 1300px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Indents
$indent-default: 20px;

// Transitions
$transition-1: all 0.1s ease-in-out;
$transition-2: all 0.2s ease-in-out;
$transition-3: all 0.3s ease-in-out;
$transition-5: all 0.5s ease-in-out;
