// Colors
$color-default-black: #303030;
$color-default-white: #ffffff;

// Hover
$color-light-1: #f8f8f8;

// Active
$color-light-2: #e8e7e7;

$color-light-3: #a2a2a2;
$color-light-4: #f0f0f0;

$color-contrast-1: #e46942;

// Fonts
$fz-default: 16px;
$ff-inter: "Inter", "Arial", sans-serif;
$ff-prata: "Prata", "Arial", sans-serif;
$ff-roboto: "Roboto", "Arial", sans-serif;

// Breakpoints
$vp-768: 768px;
$vp-1300: 1300px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Indents
$indent-default: 20px;
