// Colors
$color-default-black: #303030;
$color-default-white: #ffffff;

$color-light-1: #f8f8f8;
$color-light-2: #e8e7e7;
$color-light-3: #a2a2a2;
$color-light-4: #f0f0f0;
$color-light-5: #8F8F8F;

$color-contrast-1: #e46942;
$color-contrast-2: #5b8a8f;
$color-contrast-3: #e1a661;
$color-contrast-4: #e24b33;

// Fonts
$fz-default: 16px;
$ff-inter: "Inter", "Arial", sans-serif;
$ff-prata: "Prata", "Arial", sans-serif;
$ff-roboto: "Roboto", "Arial", sans-serif;

// Breakpoints
$vp-768: 768px;
$vp-1300: 1300px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Indents
$indent-default: 20px;
