.price-pipe {
  margin-top: 20px;

  display: flex;
  align-items: center;
  gap: 26px;
}

.price-pipe__value {
  font-family: $ff-inter;
  font-style: normal;
  line-height: 100%;

  &--new {
    font-weight: 600;
    font-size: 18px;
    /* identical to box height, or 18px */
    color: $color-default-black;
  }

  &--old {
    font-weight: 400;
    font-size: 14px;
    /* identical to box height, or 14px */
    text-decoration-line: line-through;
    color: $color-light-5;
  }

  @include vp-767 {
    font-size: 36px;
  }
}

.price-pipe__sale-badge {
  margin-left: auto;


  @include vp-767 {
    font-size: 36px;
  }
}
