.rating {
  display: flex;
}

.star {
  padding: 0 3px;
  display: inline-block;
  cursor: pointer;

  & svg {
    fill: none;
    stroke: #E1A661;
  }

  &:hover svg,
  &.active svg {
    fill: #E1A661;
  }
}

.rating-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}

.rating-wrapper span {
  font-family: $ff-inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  color: $color-default-black;
}
