.slider-card {
  padding: 10px 24px 26px;
  max-width: 310px;

  position: relative;
  border: 1px solid $color-light-4;

  &:hover {
    box-shadow: 0 16px 32px rgba($color-default-black, 0.1);
  }
  z-index: 9999 !important;
}

.slider-card__header {
  margin-bottom: 3px;
  display: flex;
}

.slider-card__badges {
  margin-right: auto;
}

.slider-card__favourite-button {
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

// .slider-card__info-wrapper

.slider-card__price-wrapper {
  margin-bottom: 16px;
}

.slider-card__sale-badge {
  margin-left: auto;
}

.slider-card__description {
  font-family: $ff-inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  color: $color-default-black;
}

// .slider-card__params

.slider-card .slider-card-swiper {
  margin-bottom: 25px;
}

.slider-card__slider .swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  bottom: 7px;
}

.slider-card__slider .swiper-pagination-bullet {
  margin: 0 !important;
  padding: 4px;

  border: 1px solid $color-default-black;
  border-radius: 50%;

  background-color: $color-default-white;
}

.slider-card__slider .swiper-pagination-bullet-active {
  background-color: $color-default-black;
}

.slider-card .swiper-slide {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-card .swiper-slide .view-link {
  position: absolute;
  top: 10px;
  right: 0;
}

.slider-card__params {
  margin-top: 24px;

  display: none;
  transform: translateY(100%);
  transition: $transition-2;
}

.slider-card {
  &:hover .slider-card__params {
    transition: $transition-2;
    padding: 0 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transform: translateY(0);
    position: absolute;
    background-color: $color-default-white;
    width: 100%;
    left: 0;
    box-shadow: 0 16px 32px rgba($color-default-black, 0.1);
  }
}

.slider-card__params .custom-select__select {
  padding: 9px 16px;

  background-color: $color-light-4;
}

.slider-card__params .custom-select__select-content {
  width: 100%;
  left: 0;
  top: calc(100% + 3px);
}

.slider-card__params .custom-select__select-title {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: calc(100% - 24px);

    display: block;
    width: 8px;
    height: 3px;

    transition: all 0.3s ease-out;

    background-color: $color-default-black;

    transform: translate(-3px, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }
}
