.articles {
  padding: 71px 0 80px;
}

.articles__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles__title {
  margin: 0;
  margin-bottom: 40px;

  font-family: $ff-prata;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  /* identical to box height, or 40px */
  color: $color-default-black;
}

.articles__link {
  margin-top: -10px;
  
  text-decoration: none;
  color: $color-default-black;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 12px;
  transition: $transition-2;

  font-family: $ff-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */

  text-transform: uppercase;

  /* #303030 */

  color: #303030;

  &:hover {
    opacity: 0.5;
  }
}

.articles__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
