.sale {
  padding: 60px 0;
}

.sale h2 {
  margin: 0;
  margin-bottom: 10px;

  font-family: $ff-prata;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  /* identical to box height, or 40px */
  color: $color-default-black;
}
